/* add code here to make your image 300px tall, have a border-radius of 25px, and a 1px black solid border.*/

img {
  height: 250px;
}

/* add code here to change the color and font family of your band's name/title */

h1 {
  color:orange
  
 } 

h1 {
   font-size: 35px;
}

li {
  color:white
}

body{
  background-color:grey;
}
/* Bonus: change the color of your list elements */
 
